body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background: #BBB;
    padding: 20px 0px;
}
.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    color: #D2691E;
    text-decoration:underline;

}
.produtos{
    width: 1011px;
    margin: 0 auto;
    padding:50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    box-sizing: border-box;
    border: 2px solid #000;
    padding: 30px 0;
    border-radius: 10px;
     
}

.produtos li:hover {
    border-color: #D2691E;
    
}

.produtos li:active {
    border-color: #088c19;
}

.produtos li:hover h2 {
    font-size: 34px;
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    

}
.produto-descricao {
    font-size: 18px;
    padding: 30px 20px;
}
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;

}

.copyright {
    color: #fff;
    font-size: 13px;
    margin: 20px 0 0; 
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 40%;
}

.label-space {
    margin-right: 10px;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: rgba(236, 22, 236, 0.567);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 9px;
    transition: 500ms all;
    cursor: pointer;
}

.enviar:hover {
    background:rgba(113, 10, 113, 0.629);
    transform: scale(1.1);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555;
    color: #fff;
    font-weight: bold;
}

td, th {
    border: 1px solid #000;
    padding: 10px 15px;
}

/*CSS da página inicial*/
.banner {
    width: 100%;
    height:500px;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 3px 3px rgba(94, 9, 241, 0.3);
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}
.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.img-beneficios {
    width: 60%;
    opacity: 1;
    transition: 500ms;
    border-radius: 20px;
    box-shadow: 10px 10px 15px #000;
}

.img-beneficios:hover {
    opacity: 0.6;
    transform: rotate(5deg);
}

.utensilios {
    width:190px;
    float: left;
    margin:0 20px 20px 0;
}

.beneficios {
    padding: 3em 0;
    background: #888;
}

.itens {
    line-height:1.5em;
}

.itens:first-child {
    font-weight: bold;
}
.itens::before{
    content:"★";
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888);
}

.mapa-conteudo {
    width:940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    width: 560px;
    margin: 2em auto;
}