.btn{
  display: block;
  font-size: 1vw;
  position: absolute;
  left: 50%;
  top:80%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 1vw 7vw;
  border: 2px solid var(--cor-primaria-texto);
  color: var(--cor-primaria-texto);
  transition: all 400ms ease;
  border-radius: 5px;
}

.btn:hover{
  background: rgba(252, 252, 252, 0.45);
  color: black;
  transition: all 400ms ease;
}